/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: 300px;
}
.footer {
  /*position: absolute;*/
  bottom: 0;
  background: #fff;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  background: #fff;
 
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
  
}


.nav-logo  img{
  
  max-height: 60px;
  border-radius: 50%;


}
.navbar-brand{
font-size: 15px;
  font-weight: 200;
}

nav .navbar-brand a:hover{
  color: orange;
} 

.navbar-brand a:hover:before,  .navbar-brand .active:before {
  visibility: visible;
  width: 100%;
}

..navbar-brand a:hover, .navbar-brand li:hover > a {
  /*color: #106eea;*/
  color: orange;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  font-family: 'Dosis', sans-serif;
   font-size: 15px;
  font-weight: 200;
}
nav .navbar{
  font-family: 'Dosis', sans-serif;
   font-size: 12px;
  font-weight: 200;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

@media (max-width: 500px) /* @grid-float-breakpoint -1 */
{
    .navbar
    {
     position: relative;
    top: auto;
    }

    .main-container {
    height: auto;
    min-width: 100vh;
   /* margin-top: 10%;
    margin-bottom: auto;*/
  }
}