

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

.st a:hover {
  color: orange;
  text-decoration: none;
}

.st button a:hover{
    color:orange;
}

.btn-primary a:hover{
  color: orange;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}





/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  background-color: black;
  /*background: black;*/
  
  z-index: 997;
  height: 86px;
  
}

#header.fixed-top {
  height: 70px;
  background: black;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 100;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
  
}

#header .logo a {
  color: #222222;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 80px;
  border-radius: 50%;
  
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  /*background-color: black;*/
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 200;
  /*color: #222222;*/
  color: white;
  white-space: nowrap;
  /*transition: 0.3s;*/
  position: relative;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  /*transition: all 0.3s ease-in-out 0s;*/
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover, .navbar li:hover > a {
  /*color: #106eea;*/
  color: orange;
}
/*#but:hover{
background:orange;
transition: all 0.4s ease 0s;
} */

/*--------------------------------------------------------------
# He Section
--------------------------------------------------------------*/
#he {
  width: 100%;
  height: 75vh;
  background: url("../img/hero-bg.jpg") top left;
  background-size: cover;
  position: relative;
}

#he:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#he .container {
  position: relative;
}

#he h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#he h1 span {
  color: #106eea;
}

#he h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}




/*--------------------------------------------------------------
# Head Section
--------------------------------------------------------------*/
#head {
  width: 100%;
  height: 75vh;
  background: url("../img/image3.jpg") top left;
  background-size: cover;
  position: relative;
}

#head:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#head .container {
  position: relative;
  margin-left: 40%;
}

#head h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;

  font-family: "Poppins", sans-serif;
}

#head h1 span {
  color: #106eea;
}

#head h2 {
  color: #555555;

  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 800;
}


section #head  button{
  height: auto;
  /*padding:8px 37px;*/
  /*color:#fff;*/
  color:black;
  font-size: 13px;
  
  border-radius: 50px;
  /*margin-right: 20px;*/
}

#bu button:hover{
  background-color: blue;
 
}



@media (min-width: 1024px) {
  #head {
    background-attachment: fixed;

  }
}

@media (max-width: 768px) {
  .container{
    width: auto;
    height:auto;
  }
  #head {
    height: 100vh;
  }
  #head h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #head h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #head .btn-get-started {
    font-size: 20px;
  }
}

@media (max-height: 500px) {
  .container{
    width: auto;
    height:auto;
  }
  #head {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Feature Section
--------------------------------------------------------------*/
.featured .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured .icon-box::before {
  content: '';
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured .icon-box:hover::before {
  background: #106eea;
  top: 0;
  border-radius: 0px;
}

.featured .icon {
  margin-bottom: 15px;
}

.featured .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured .title a {
  color: #111;
}

.featured .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured .icon-box:hover .title a, .featured .icon-box:hover .description {
  color: #fff;
}

.featured .icon-box:hover .icon i {
  color: #fff;
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #d4e5fc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list .question {
  display: block;
  position: relative;
  font-family: #106eea;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #0d58ba;
  transition: 0.3s;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list .collapsed {
  color: black;
}

.faq .faq-list .collapsed:hover {
  color: #106eea;
}

.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
}

