<!DOCTYPE html>
<html class="index-bg">
<head>
	<title>Heart disease risk prediction</title>
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	<link
      href="{{ url_for('static', filename='css/style1.css') }}"
      rel="stylesheet"
    />
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<!-- <link  href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header class="mainheader">
	<div class="headermenu">
		<div class="logo"> 
			<img
                src="{{ url_for('static', filename='img/logo22.png') }}"
            />
			<!-- <img src="images/logo22.png" alt="logo" >  -->
		</div>
		<div class="menulist">
			<ul>
				<li><a href="#home" >Home</a></li>
				
				<li><a href="login">Register</a></li>
                <li><a href="aboutus">About Us</a> </li>
				
							
			</ul>
		</div>
	</div>

	<div class="headercontent">
		<h2>Heart Disease Risk</h2>
		<h1>Cardio Predict</h1>
		<h3>Predictions towards a Healthier Lifestyle </h3>
		<button><a href="aboutus">
			Get Started
		</a></button>
	</div>
</header>
<footer class="footer">Copyright&copy; 19xx–2021 CardioPrecict.com™. All rights reserved.
  <p>Contact: CardioPredict@xyz.com</p><p></footer>
</body>
</html>