<!DOCTYPE html>
<html class="index-bg">
<head>
	<title>Heart disease risk prediction</title>
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	<link
      href="{{ url_for('static', filename='css/style1.css') }}"
      rel="stylesheet"
    />
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<!-- <link  href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="home.html" class="logo"><img src="assets/img/logo22.png" alt=""></a>
      <h1 class="logo"><a href="home.html">CardioPredict <span> </span></a></h1>
      
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="home">Home</a></li>
          
          <li><a class="nav-link" href="register">Register</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>

        </ul>
        
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container"> 

      <h1>Welcome to <span>Template</span></h1>
      <h2> Heart Disease Risk </h2>
      <h3>Predictions towards a Healthier Lifestyle </h3>
		<button><a href="aboutus">
			Get Started
		</a></button>
      
    </div>
  </section><!-- End Hero -->
   <!-- ======= Footer ======= -->
  <footer id="footer">


    
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Template</span></strong>
      </div>
      
    
  </footer><!-- End Footer -->
	
</body>
</html>